/* Área para agrupar os painéis das receitas */
#painel-receitas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaçamento entre os painéis */
    justify-content: center; /* Centralizar os painéis horizontalmente */
}

.card {
    height: 100%;
}

/* Formatação dos painéis de receitas */
.card-body {
    background-color: #f9f9f9;
    border-radius: 10px;
    height: 100%;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange content vertically */
}

/* Formatação para a foto do prato */
.card-body img {
    width: auto;
    height: 300px;
}

/* Formatação para o nome da receita */
.card-body h5 {
    margin-top: 10px; /* Adjust margin */
    font-size: 18px; /* Increase font size */
    font-weight: bold;
}

/* Formatação para a lista de itens */
.card-body hr {
    border-top: 1px solid #ccc; /* Add horizontal line */
    margin: 10px 0; /* Adjust margin */
}

/* Formatação para o modo de preparo */
.card-text {
    font-size: 14px; /* Adjust font size */
    text-align: justify; /* Justify text */
}
